/* 上のbox start*/

.flex_header {
    display: flex;
    justify-content: flex-end;
    background-color: #800080;
    padding: 30px 20px;
  }

  .flex_header > div {
    background-color: #D8BFD8;
    flex-basis: 140px;
    height: 70px;
    margin: 0 10px;
  }
  .flex_header > :first-child {
    margin-right: auto;
    flex-basis: 140px;
    height: 70px;
  }

  /* 上のbox finish */

  /* 真ん中のbox  start*/
  .flex_main {
    display: flex;
    justify-content: center;
  }

  .left_box {
    background-color: #90ee90;
    width: 300px;
  }

  .right_box_content {
    background-color: #008200;
    max-width: 700px;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .right_box_content > div {
    background-color: #fcf75e ;
    height: 130px;
    flex-basis: 200px;
    margin: 10px;
  }
  /* 真ん中のbox  finish*/

  /* 下のbox  start*/
.flex_footer {
    display: flex;
    justify-content: center;
    background-color: #4169e1;
    padding: 20px;
    flex-wrap: wrap;
}

.flex_footer > div {
    background-color: #87ceeb;
    flex-basis: 45%;
    height: 40px;
    max-width: 600px;
    margin: 10px;
    
}

  /* 下のbox  finish*/